@media only screen and (max-width: 1175px) {
	div.preview-body {
		height: 30vh;
	}
}

.preview-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease;
	transform: scaleY(0);
}

.preview-body .close {
	position: absolute;
	cursor: pointer;
	right: 0px;
	top: -44px;
	font-family: "Arial";
	background-color: #ccc;
	font-size: 30px;
	padding: 5px;
}

.preview-body {
	position: relative;
	width: 70vw;
	height: 70vh;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.preview-body .photo {
	position: relative;
	width: 35%;
	height: 100%;
	margin-right: 5%;
}

.preview-body .photo img {
	position: relative;
	width: 100%;
	height: 100%;
}

.preview-body .description {
	position: relative;
	padding: 20px 10px 20px 10px;
	width: 55%;
}

.preview-body .description  .title{
	padding: 10px;
	font-size: 36px;
}

.preview-body .description  .details{
	position: relative;
	padding: 10px 20px;
	font-size: 20px;
	color: #aaa;
	height: 40%;
	overflow-y: scroll;
}

.preview-body .description  .enquire{
	position: absolute;
	margin-top: 20px;
	right: 30px;
	border: none;
	outline: none;
	padding: 10px;
	background-color: coral;
	cursor: pointer;
	color: #fff;
}